<div class="container search-box-main text-center">
  <div class="row pt-3">
    <div class="col">
      <div class="search-title">Search for events</div>
    </div>
  </div>
  <div class="row align-items-baseline justify-content-center pt-3">
    <div class="col-12 col-lg-3 col-xl-3">
      <mat-form-field class="city-field">
        <mat-label>City</mat-label>
        <input matInput placeholder="Ex. New York">
      </mat-form-field>
    </div>
    <div class="col-12 col-lg-3 col-xl-3">
      <mat-form-field appearance="fill" class="state-field">
        <mat-label>State</mat-label>
        <mat-select>
          <mat-option *ngFor="let state of usStates" [value]="state.abbreviation">
            {{state.name | titlecase}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-12 col-lg-4 col-xl-4">
      <mat-form-field class="event-name-field">
        <mat-label>Event Name</mat-label>
        <input matInput placeholder="Enter the name of an event">
      </mat-form-field>
    </div>
    <div class="col-12 col-lg-2 col-xl-2">
      <div class="search-btn">
        <button mat-raised-button (click)="buttonClick()">Search</button>
      </div>
    </div>
  </div>
</div>