.search-box-main {
  background-color: #888888;
  border-radius: 8px;
  max-width: 75%;
}

.search-title {
  color:#fff;
  font-size: 2rem;
}

.event-name-field {
  width: 100%;
}

.search-btn {
  margin-left: auto;
}