@import '~material-design-icons/iconfont/material-icons.css';

html, body { height: 100%; 
  background-image: url("/assets/background-2462434_1920.jpg");
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;}
  
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
